/* Start wrapper */

.wrapper {
    margin: auto;
    max-width: 960px;
}

/* End wrapper */

header {
    padding: 20px 0px;
    background-color: grey;
    max-width: 960px;


}

.title {
    font-size: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: -90px;
    margin-bottom: 20px;

}

form[name="search"] {
    float: right;
}

.top-menu a:hover {
    border-radius: 20px 20px 20px 20px;
    background-color: dimgrey;
}

nav a {
    text-decoration: none;
}


nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
    font-family: cursive;
}

.top-menu li {
    display: inline-block;
}

.top-menu a {
    color: black;

}

header img {
    width: 10%;
    height: 10%;
    padding-left: 10px;
    margin-bottom: 30px;
}

#photo_tour img {
    float: left;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-right: 30px;
    margin-bottom: 10px;
}

#dimension_tour img {
    float: right;
    width: 25%;
    height: 25%;
    margin-left: 30px;

}

.tour__drapeau--img {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-top: 10px;
}

.tour__science--img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 30px;
    margin-top: 10px;
}


body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-image: url(abstract.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

blockquote {
    margin: 0;
    height: 50px;
    margin-top: 0px;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding: 20px 0px;
    background-color: #1DB6B4;


}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 20px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #F6F9F9;
    margin-right: 30px;
    text-align: right;
}

h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Roboto;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Pacifico', cursive;
}

.titre_site {
    margin-top: 0px;


}

h2 {
    font-family: cursive;
    color: black;


}

h3 {
    font-family: cursive;
    color: black;
}

p {
    font-family: cursive;
}

ul {
    font-family: cursive;
}

.origine_projet {
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 10px 10px;
    color: #222;
    border-top: 3px solid #e6e6e6;
    border-left: 3px solid #e6e6e6;
    border-right: 3px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    background-color: #EF7358;

}

.histoire {
    margin-bottom: 80px;
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 10px 10px;
    color: #222;
    border-top: 3px solid #e6e6e6;
    border-left: 3px solid #e6e6e6;
    border-right: 3px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    background-color: #F6EC27;
}

.histoire_part2 {
    clear: right;
    margin-bottom: 0px;
}

#section_colonnes {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    
}

.left-col,
.right-col {
    width: 960px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 10px 10px;
    color: #222;
    border-top: 3px solid #e6e6e6;
    border-left: 3px solid #e6e6e6;
    border-right: 3px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    background-color: #77ACEC;
}

.right-col{}
.box {
    background: #fff;
    margin: 0px 0px 50px 0px;
    padding: 5px 10px 10px 10px;
    color: #222;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.clear {
    clear: both;
}


.contact {
    background-color: dimgrey;
    width: 100%;
}


footer {
    background: #171515;
    color: #fff;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 100px;
    margin: auto;
    max-width: 960px;
}

footer p {
    margin: 5px;
    text-align: center;
    font-family: monospace;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
    clear: both;
    position: relative;
    margin-right: 3px;
    margin-top;
    3px;
}


.links li {
    list-style-type: none;
    display: inline-block;
    float: right;
}


.links img {
    width: 50px;
    margin: 5px;
    border-radius: 10px 10px;
    10px;
    10px;
    float: right;
}

.map {
    margin: 20px;
}
